body{
    background: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
};
h1{
    position: relative;
    animation-name: colorchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
    @keyframes colorchange {
        0%  {color: black;} 
        15%  {color: darkred;}
        30%  {color: red;}
        45%  {color: lightpink;}
        60%  {color: lightgreen;}
        75%  {color: green;} 
        90%  {color: darkgreen;}
        100%  {color: black;} 
    }
}
label {
    background: #ffe6eb;
    display:flex;
    flex-direction:row;
    padding:.5em;
    margin: .5em;
    border: plum .10em solid;
    border-radius: 2em
}
label:nth-child(odd) {
    background:rgb(213, 255, 150);
    border:rgb(138, 255, 138) .10em solid;
}